<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<head>
  <title>My Messenger | <%= yield(:title) %></title>
</head>
<body>
<h1>My Messenger</h1>
<p>
  This is the home page for the site

</p>
</body>
</html>